<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order #<%= @order.id %> confirmation</h1>
    <p>
      Your order has been confirmed. The order ID is <%= @order.id %>.
    </p>
    <p>
      Thank you for your business!
    </p>
    <p>
      Sincerely,
    </p>
    <p>
      Jungle Team
    </p>
  </body>
</html>